.container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    padding: 30px 30px;
}
.container .box
{
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-top: 20px;
    background: #e8e8e8;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}
.container .box .content
{
    align-items: center;
    max-width: 100%;
}
.container .box .content .img-box img
{
    width: 260px;
    height: 250px;
}
.container .box .content .detail .info
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.container .box .content .detail .info h3
{
    color: #fe6022;
    text-transform: uppercase;
    font-weight: 200;
}
.container .box .content .detail button
{
    margin-top: 30px;
    margin-left: 30%;
    padding: 10px 30px;
    border: none;
    outline: none;
    background:rgb(55, 152, 216);
    color: #fff;
    cursor: pointer;
}
.detail_container
{
    position: fixed;
    z-index: 1;
    align-items: center;
    width: 900px;
    background: #e8e8e8;
    margin-left: 10%;
    margin-bottom: 20%;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border: 1px solid #e8e8e8;
    padding: 20px 30px;
    border-radius: 5px;
}
.detail_container .detail_content
{
    max-width: 100%;
}
.detail_container.detail_content .close
{
    border: none;
    outline: none;
    background-color: none;
    cursor: pointer;
}
.detail_container .detail_content .detail_info
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.detail_container .detail_content .detail_info .img-box img
{
    width: 250px;
    height: 250px;
}
.detail_container .detail_content .detail_info .product_detail
{
    margin-left: 30px;
}
.detail_container .detail_content .detail_info .product_detail h2
{
    color: #fe6022;
    text-transform: uppercase;
    font-weight: 200;
}
.detail_container .detail_content .detail_info .product_detail h3
{
    margin-top: 10px;
    color: #0422508a;

}
.detail_container .detail_content .detail_info .product_detail p
{
    margin-top: 10;
    margin-right: 30;
    color: #000;
}
.detail_container .detail_content .detail_info .product_detail button
{
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    background:rgb(235, 33, 110);
    color: #000;
    cursor: pointer;
}